/* texte */
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12pt;
    margin: 20px;
}

.canevas {
    position: relative;
    float:left;
    width:calc(60vw - 40px);   
    height:calc(100vh - 70px);
}

.info {
    position: absolute;
    left:670px;
    width:30px;
    height:20px;
    margin-left: 10px;
    background:rgb(137, 156, 185)
}

.flagzone {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 100px;
    background-color: #cbcecb;
    border: 1px solid #5e5e5e;
}

.flag {
    width:80px;
    text-align:center;
    margin:auto;
    display:flex;
    margin-top:5px;
}
  
/* barre latérale */
.sidebar {
    position: relative;
    float:right;
    left:0px;
    bottom:0px;
    width: calc(40vw - 40px);
    height:calc(100vh - 102px);
    background-color: #a0a3a0;
    border: 1px solid #000000;
    padding: 15px;
}

.axes {
    position: absolute;
    width: calc(40vw - 75px);
    min-height: calc(10vh);
    left:15px;
    bottom:55px;
    background-color: #cbcecb;
    border: 1px solid #000000;
    padding: 15px;
}
  
/* boîte à infos */
.infobox {
    font-size: 10pt;
}
  
/* copyright */
.copyright {
    position: absolute;
    left:15px;
    bottom: 15px;
    font-size: 8pt;
    margin-bottom: 5px;
}
  
/* tableau */
table 
  table.menu {
    float: right;
  }
  td {
    padding-left: 0;
  }
  td.label {
    font-weight: bold;
    padding-right: 5px;
    vertical-align: top;
}

.profilepic {
    float:left;
    width: 10vw;
    height: 10vw;
    background-color: #cbcecb;
    border: 1px solid #000000;
}

.profileimg {
    max-width:100%;
    max-height:100%;
}

.tab {
    display: inline-block;
    margin-left: 40px;
}

