/* texte */
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12pt;
    margin: 20px;
} 

  
/* barre latérale */
.sidebar {
    position: absolute;
    top: 70px;
    right: 0;
    width: calc(100vw - 100vh);
    height: calc(100vh - 100px);
    min-height: 470px;
    background-color: #c2cec2;
    border: 1px solid #000000;
    padding: 15px;
}
  
/* boîte à infos */
.infobox {
    font-size: 10pt;
}
  
/* copyright */
.copyright {
    position: absolute;
    bottom: 0;
    font-size: 8pt;
    margin-bottom: 5px;
}
  
/* tableau */
table 
  table.menu {
    float: right;
  }
  td {
    padding-left: 0;
  }
  td.label {
    font-weight: bold;
    padding-right: 5px;
    vertical-align: top;
}

.profilepic {
    position:absolute;
    width: calc(18vh);
    height: calc(18vh);
    background-color: #cbcecb;
    border: 1px solid #000000;
    padding-top: 20px;
}

.tab {
    display: inline-block;
    margin-left: 80px;
}

